<p-accordion [activeIndex]="null">
    @for (item of store.$items(); track $index) {
        <p-accordionTab [disabled]="disabled">
            <ng-template pTemplate="header">
                <span class="flex justify-content-between align-items-center gap-2 w-full">
                    <h3 class="m-0 p-0">{{item.title}}</h3>
                    @if (displayDescriptions) {
                    <h6>
                        {{item.description}}
                    </h6>
                    }
                </span>
            </ng-template>
            <p>{{item.body}}</p>
        </p-accordionTab>
    }
</p-accordion>
<div class="card flex justify-content-center mt-3">
    <p-paginator [rows]="store.$pageSize()"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true" [totalRecords]="store.$total()" [rowsPerPageOptions]="[5, 10, 25, 100]"
        (onPageChange)="pagination.emit($event)">
    </p-paginator>
</div>