<div class="surface-card grid">
  <div class="col-12">
      <app-navbar/>
  </div>
  <div class="col-12">
    <div class="surface-card p-4 shadow-2 border-round">
      <p-tabView>
        <p-tabPanel header="Planes">
          <ng-template pTemplate="header">
            <span class="mr-2">Planes</span>
            @if (store.$loadingPlanes()) {
            <i class="pi pi-spin pi-spinner"></i>
            }
          </ng-template>
          <ng-template pTemplate="content">
            <app-planes />
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="">
          <ng-template pTemplate="header">
            <span class="mr-2">Ships</span>
            @if (store.$loadingShips()) {
            <i class="pi pi-spin pi-spinner"></i>
            }
          </ng-template>
          <ng-template pTemplate="content">
            <app-ships />
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>